<div style="background-color: grey;">
<div class="container ">

  <div class="flex-title" style="background-color: white;">
    <div style="margin-left: 4%; margin-bottom: 5%;">
      <h1 style="font-size: 100px;">&#60;</h1>
    </div>

    <div class="title-resume">
      <h1 style="text-align: left; font-size: 100px; padding-top: 10px;">MICHYLA DIXON</h1>
    </div>
  </div>

  <div class="flex-resume" style="background-color: rgb(255, 255, 255);">

    <div class="sidebar-info">
      <h2 style="margin-left: 8%;">
        Junior Software Developer
      </h2>

      <div class="side-bar-info-back">
          <div class="contact-border">
            Contact Info
          </div>
          <object data="assets/phone.svg" type="image/svg+xml" width="30px" height="30px"></object>
          <div class="contact-margin">            
              0473399433
          </div> 
          <object data="assets/marker.svg" type="image/svg+xml" width="30px" height="30px"></object>
          <div class="contact-margin">            
              2 John Street, 
              <br>
              Caboolture South
          </div>
          <object data="assets/email.svg" type="image/svg+xml" width="30px" height="30px"></object>
          <div class="contact-margin">            
              Michyla.Dixon@gmail.com
          </div>
          <object data="assets/linkedin.svg" type="image/svg+xml" width="30px" height="30px"></object>
          <div class="contact-margin">            
              @Michyla1992
          </div>

          <div style="padding-bottom: 5%;">
            <h1 style="font-size: 100px;">&#47;&#62;</h1>
          </div>

      </div>
    </div>

    <div class="resume-content">
      <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
        <mat-tab label="About Me"> 
          <div class="content">
            <h4>About Me</h4>
            I'm a recent Tafe graduate with a Diploma of Software Development. 
            As a stay-at-home mother I intend to rejoin the workforce as a 
            Junior Software or Web Developer.
            <br>
            After exploring Games and Web Development as a hobby, I fell
            in love with coding and decided to dedicate myself
            to a Diploma of Software Development in order to pursure a career 
            in this field. 
            <br>
            I enjoy all aspects of development including; 
            both front-end and back-end, and aspire to learn more in relation
            to website development. I look forward to
            continuing to learn more programming languages
            beyond the C# and Java I learnt during my Diploma.
            <br>
            I consider myself a fast learner and am willing to seek out and absorb
            knowledge from any available resources.
            <br>
            Being a single mother has taught me time management skills and a great 
            deal of patience. Coupled with a logical mindset and good problem 
            solving skills I believe that I can apply these to any project I commit to.

            <div style="text-align: right; margin-top: 70px;">
              <img src="assets/selfie.png" alt="selfie" width="250" height="250" style="border-radius: 50%;">
            </div>

          </div> 
        </mat-tab>

        <mat-tab label="Skills">
          <div class="content">
            <table>
              <tr>
                <td class="v-align-skills">
                  <h5>Skills, Languages, Frameworks and Software</h5>
                  <ul>
                    <li>C# - Object Oriented Programming Language</li>
                    <li>Java - Object Oriented Programming Language</li>
                    <li>ASP.NET</li>
                    <li>MVC/MVVM</li>
                    <li>Web API</li>
                    <li>HTML/CSS</li>
                    <li>Bootstrap</li>
                    <li>SQL Server Management Studio/SQLite</li>
                    <li>Unity</li>
                    <li>Git/Github</li>
                    <li>Microsoft Azure</li>
                  </ul>
                  <h5>Coding Principles and other Knowledge</h5>
                  <ul>
                    <li>Encapsulation can be used to hide data in an interface, 
                      providing additional security and can help with code reusability.</li>
                    <li>User defined data structures, i.e. Lists, arrays, etc.</li>
                    <li>Session Management and token based authentication in ASP.NET</li>
                  </ul>
                </td>

                <td class="v-align-skills">
                  <ul>
                    <li>Dependency Injection is the act of providing the necessary 
                      dependencies to objects or frameworks, e.g., instantiating a 
                      list or object in the constructor.</li>
                    <li>Database Management including normalisation, ER diagrams and 
                      conceptual models, data structures and types, queries and reports, insertion, retrieval 
                      and updating of data in database, encryption and authentication.</li>
                    <li>Testing - I have yet to learn unit testing, however, have 
                        some awareness and sample documents for manual testing.</li>
                    <li>Polymorphism vs Inheritance - Polymorphism being the act of implementing 
                      one method in multiple places to perform different functions, whilst 
                      inheritance is a class or method acquiring properties from another class, 
                      thus becoming child/parent.</li>
                    <li>Logging tools such as NLog for C# or Java's built-in logging engine: java.util.logging.</li>
                  </ul>
                </td>
              </tr>
            </table>
          </div>
        </mat-tab>

        <mat-tab label="Education">
          <div class="content">
            <h4>TAFE ONLINE</h4>
            <h5>DIPLOMA OF INFORMATION TECHNOLOGY(FRONT/BACK END DEVELOPMENT), CURRENTLY STUDYING</h5>
            <p>I have only recently started this course, currently on the first units covering 
              Code of Ethics, Policies, Privacy, etc. I am studying this online so that I may study 
              in my free time whilst having a full-time career. This course's main focus is on 
              front end and back end web development and should complement the Diploma of Software
              Development I completed in 2021 as outlined below.</p>

            <h4>TAFE BRACKEN RIDGE</h4>
            <h5>DIPLOMA OF SOFTWARE DEVELOPMENT, CLASS OF 2021</h5>
            <p>During this course I gained a wealth of knowledge
              including aspects of Java, C# and ASP.NET, MVC,
              Database Management, Mobile Game
              Development(Unity) and much more.</p>

            <h4>TAFE ONLINE</h4>
            <h5>ACE SHORT COURSE - MYOB, 2010</h5>
          </div> 
        </mat-tab>

        <mat-tab label="Work History">
          <div class="content">
            <h4>EAST COAST PILOT SERVICE</h4>
            <h5>2015 - approx 6 months</h5>
            <p>Driving, team communication and coordination, road rules and 
              regulations, traffic control. Left due to personal reasons.</p>
            <h4>MCDONALDS CABOOLTURE SOUTH</h4>
            <h5>2009 - 3 months</h5>
            <p>Cashier, cleaning, food handling and packaging. 
              Left as I was about ready to give birth to my first child.</p>
            <h4>TULLAWONG CORNER STORE - CABOOLTURE</h4>
            <h5>2009 - 5 months</h5>
            <p>Cashier, cleaning, stock control and ordering. Left as my employers 
              felt it unsafe for me to work as a pregnant woman.</p>
            <h4>TARA VALLEY PLANT NURSERY - CORNUBIA</h4>
            <h5>2008 - 3 months</h5>
            <p>Propogations, dispatch, customer service, general plant maintenance and weeding. 
              Left due to moving back to the north side of Brisbane.</p>
            <h4>COORANG WHOLESALE PLANT NURSERY - CORNUBIA</h4>
            <h5>2007/2008 - 4 months</h5>
            <p>Volunteered at the workplace as I had family who worked there prior. 
              Propogations, dispatch, customer service, general plant maintenance, weeding 
              and operating machinery. Left to seek gainful employment.</p>

            <p>Prior history available upon request.</p>

            <!--
            <h4>CRAZY CLARKS - LOGAN CENTRAL</h4>
            <h5>2007 - 1 month</h5>
            <p>Christmas casual. Cashier, stock control, cleaning, phone relations.</p>
            <h4>FEDIS MEGA FOOD MARKERT - LOGAN CENTRAL</h4>
            <h5>2007 - 4 months</h5>
            <p>Cashier, cleaning, stock control, phone relations, store promotions. 
              Left due to poor upper management and staffing practices.</p>
            <h4>AUSSIE ROOSTER - CABOOLTURE SOUTH</h4>
            <h5>2007 - 9 months</h5>
            <p>Cashier and food handling at my first job. Left due to moving 
              house to the other side of Brisbane.</p>
            -->
          </div> 
        </mat-tab>

        <mat-tab label="Reference">
          <div class="content">
            <h3>Professional References</h3>
            <br>
            <h4>Mark O'Reilly</h4>
            <p>IT Teacher
            <br>
            Tafe Queensland
            <br>
            <b>M:</b> 0404 465 185
            <br>
            <b>E:</b> Mark.O'Reilly@tafe.qld.edu.au</p>
            
            <br>
            <h3>Personal References</h3>
            <br>
            <h4>Mark Laird</h4>
            <p>Senior Hair Colour and Style Tech
            <br>
            Friend
            <br>
            <b>M:</b> 0499 303 400
            <br>
            <b>E:</b> contact@markhair.art</p>
          </div> 
        </mat-tab>
        
      </mat-tab-group>
    </div>

  </div>
</div>
</div>
