@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

h1 {
    color: rgb(42,10,94);
    text-shadow: 2px 2px rgb(45,86,166);
}

h2 {
    color: rgb(42,10,94);
}

p {
    color: rgb(42,10,94);
}